.App {
  min-height: 100vh;
  background-image: url("./background.jpg");
  object-fit: cover;
}

html {
  font-size: 100%;
}

.search-form {
  min-height: 10vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background-color: black; 
  border: none;
  padding: 10px 20px;
  color: white; 
}

.search-button:hover, 
.search-button:active {
  background-color: #525354;
  cursor: pointer;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}